@font-face {
    font-family: 'avantgardecbold';
    src: url('../fonts/avantgardegothicc-demi_-_avantgardec_-_bold-webfont.eot');
    src: url('../fonts/avantgardegothicc-demi_-_avantgardec_-_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgardegothicc-demi_-_avantgardec_-_bold-webfont.woff') format('woff'),
         url('../fonts/avantgardegothicc-demi_-_avantgardec_-_bold-webfont.ttf') format('truetype'),
         url('../fonts/avantgardegothicc-demi_-_avantgardec_-_bold-webfont.svg#avantgardecbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font: "Roboto Slab";
@font1: "avantgardecbold";
@font2: "Roboto";
@sprite: url(../img/sprite.png);

@import "icons.less";

.bottom-indent5{
	margin-bottom: 5px;
}
.bottom-indent10{
	margin-bottom: 10px;
}
.bottom-indent20{
	margin-bottom: 20px;
}
.bottom-indent40{
	margin-bottom: 40px;
}

.plus-overflow{
	overflow: hidden;
}

.title{
	font-size: 36px;
	line-height: 36px;
	font-family: @font;
	color: @yellow;
	font-weight: bold;
	margin-bottom: 20px;
	a{
		color: @red;
	}
	&.title-red{
		color: @red;
	}
	&.title-lg{
		font-size: 48px;
		line-height: 48px;
		margin-bottom: 30px;
	}
	&.title-small{
		font-size: 24px;
		line-height: 24px;
	}
	.title{
		margin-bottom: 0;
		display: inline;
	}
}

.lg-text{
	font-size: 16px;
	font-family: @font2;
}

.xlg-text{
	font-size: 20px;
	font-weight: bold;
	font-family: @font2;
}

.mid-text{
	font-size: 12px;
	font-family: @font2;
}

.mid-text-lnk{
	font-size: 12px;
	font-family: @font;
	color: @red;
	font-weight: bold;
}

.header{
	background: @red;
	font-family: @font2;
	position: relative;
	z-index: 2;
	.inf{
		font-size: 12px;
		font-family: @font;
		color: @yellow;
	}
	a:hover:not(.btn){
		color: #fff;
	}
}

.hphone{
	font-size: 26px;
	font-family: @font1;
	color: #fff;
	display: inline-block;
	line-height: 32px;
	padding: 8px 0;
	.s, .lb{
		color: @yellow;
	}
	.lb{
		font-size: 16px;
		text-transform: uppercase;
	}
}

.separator{
	border-top: solid #9a081f 1px;
	border-bottom: solid #d35468 1px;
}

.callback-box{
	position: relative;
	color: #fff;
	font-size: 12px;
	z-index: 102;
	.callback-btn{
		line-height: 18px;
		padding: 16px 0;
		font-size: 12px;
		display: block;
	}
	.callback-popup{
		display: none;
		padding: 0 20px 20px 20px;
		position: absolute;
		left: -20px;
		right: -20px;
		top: 0;
		background: @red;
		.box-shadow(0 3px 10px rgba(0,0,0,.4));
	}
	input[type="text"]{
		padding: 0 5px;
		height: 20px;
		font-size: 12px;
	}
	label{
		font-size: 12px;
	}
	a{
		color: @yellow;
		text-decoration: underline;
	}
}

.account-box{
	position: relative;
	color: #fff;
	font-size: 12px;
	z-index: 101;
	.account-btn{
		line-height: 30px;
		padding: 10px 0;
		font-size: 16px;
		display: block;
		text-align: center;
		.gicon-kee{
			margin-right: 10px;
		}
		a{
			text-decoration: none;
		}
	}
	.account-popup{
		display: none;
		padding: 0 20px 20px 20px;
		position: absolute;
		left: -60px;
		right: -60px;
		top: 0;
		background: @red;
		.box-shadow(0 3px 10px rgba(0,0,0,.4));
		.border-r{
			padding-right: 20px;
			border-right: solid #d3491b 1px;
		}
		.indent-l{
			// padding-left: 20px;
		}
	}
	input[type="text"]{
		padding: 0 5px;
		height: 20px;
		font-size: 12px;
	}
	label{
		font-size: 12px;
	}
	a{
		color: @yellow;
		text-decoration: underline;
	}
}

.cart-box{
	position: relative;
	color: #fff;
	font-size: 12px;
	z-index: 100;
	.cart-btn{
		line-height: 30px;
		position: relative;
		background: @red;
		z-index: 100;
		padding: 10px;
		font-size: 30px;
		font-weight: bold;
		font-family: @font;
		display: inline-block;
		text-decoration: none;
		color: #fff;
		&.active{
			.box-shadow(0 3px 9px rgba(0,0,0,.4));
			.shadow-overlay{
				display: block;
				position: absolute;
				z-index: 102;
				left: -5px;
				right: 0; bottom: -10px;
				height: 10px;
				background: @red;
			}
		}
		.gicon-cart{
			margin-right: 6px;
		}
		.sm{
			font-size: 15px;
		}
	}
	.cart-popup{
		display: none;
		padding: 0 20px 20px 20px;
		width: 390px;
		position: absolute;
		z-index: 99;
		right: 0;
		top: 100%;
		background: @red;
		.box-shadow(0 3px 10px rgba(0,0,0,.4));
		.shadow-overlay{

		}
		.border-r{
			padding-right: 20px;
			border-right: solid #d3491b 1px;
		}
		.indent-l{
			// padding-left: 20px;
		}
	}
	input[type="text"]{
		padding: 0 5px;
		height: 20px;
		font-size: 12px;
	}
	label{
		font-size: 12px;
	}
}

.input-full-width{
	width: 100%;
	.box-sizing(border-box);
	&.lg{
		height: 51px!important;
	}
}

.modal-overlay{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 49;
}

.add-rem-btn{
	font-size: 24px;
	color: @yellow;
}

.main-nav{
	background: @red;
	.box-shadow(0 3px 10px rgba(0,0,0,.4));
	position: relative;
	z-index: 1;
}
.main-menu{
	margin: 0; padding: 0;
	display: table;
	>li{
		margin: 0; padding: 0;
		list-style: none;
		font-size: 20px;
		line-height: 20px;
		font-family: @font;
		font-weight: bold;
		float: left;		
		>a{
			color: @yellow;
			display: inline-block;
			padding: 15px 12px 10px 11px;
			border-bottom: solid 5px @red;
			&:hover{
				border-color: @yellow;
			}
		}
		&.logo{
			padding-top: 3px;
			margin-right: 50px;
			a{
				padding: 0;
				&:hover{
					border-color: @red;
				}
			}
		}
		&.active{
			a{
				border-color: @yellow;
			}
		}
		&:last-child{
			a{
				padding-right: 0;
			}
		}
		ul{
			font-size: 16px;
			li{
				a{
					padding-top: 6px;
					padding-bottom: 6px;
				}
			}
		}
	}
}

.submenu{
	margin: 0 0 20px 0; padding: 0;
	display: table;
	border-bottom: solid 1px #e5e5e5;
	>li{
		margin: 0; padding: 0;
		list-style: none;
		font-size: 18px;
		line-height: 20px;
		font-family: @font;
		font-weight: bold;
		float: left;		
		>a{
			color: @red;
			display: inline-block;
			padding: 15px 12px 10px 11px;
			border-bottom: solid 5px #fff;
			&:hover{
				border-color: @red;
			}
		}
		&.active{
			a{
				border-color: @red;
			}
		}
		&:last-child{
			a{
				padding-right: 0;
			}
		}
	}
}

.slideshow-wrap{
	width: 1600px;
	position: relative;
	left: 50%;
	margin-left: -800px;
	.container{
		position: relative;
		.round-large-btn{
			position: absolute;
			right: 35px;
			top: 100px;
		}
	}
}

.round-large-btn{
	width: 256px; height: 256px;
	.border-radius(140px);
	border: solid 12px @yellow;
	background: @red;
	font-size: 36px;
	font-family: @font;
	font-weight: bold;
	text-align: center;
	line-height: 36px;
	.text{
		display: block;
		color: @yellow;
		margin-top: 94px;
		margin-bottom: 12px;
	}
	&:hover{
		background: #9a081f;
	}
}

.round-btn{
	width: 86px; height: 86px;
	display: inline-block;
	.border-radius(48px);
	border: solid 5px @yellow;
	background: @red;
	font-size: 16px;
	font-family: @font;
	font-weight: bold;
	text-align: center;
	line-height: 18px;
	.text{
		display: block;
		color: @yellow;
		margin-top: 28px;
		margin-bottom: 6px;
	}
	&.btn-shadow{
		.box-shadow(2px 3px 10px rgba(0,0,0,.4));
	}
	&:hover{
		background: #9a081f;
	}
}

.spos{
	position: relative;
	bottom: -35px;
}

.dot{
	width: 16px; height: 16px;
	.border-radius(8px);
	background-color: @yellow;
	display: inline-block;
	cursor: pointer;
	&:hover{
		background-color: @red;
	}
	&.active{
		background-color: @red;
	}
}

.slideshow-wrap{
	position: relative;
	.slideshow-nav{
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
		.dot{
			margin: 0 5px;
		}
	}
}

.red-container{
	background: @red;
	padding: 20px 0;
}

.yel-container{
	background: @yellow;
	padding: 20px 0;
	margin-bottom: 20px;
}

input[type="text"].lg,
input[type="password"].lg,
input[type="datetime"].lg,
input[type="datetime-local"].lg, 
input[type="date"].lg,
input[type="month"].lg,
input[type="time"].lg,
input[type="week"].lg,
input[type="number"].lg,
input[type="email"].lg,
input[type="url"].lg,
input[type="search"].lg,
input[type="tel"].lg,
input[type="color"].lg{
	height: 21px;
	padding: 14px 10px;
	font-size: 20px;
	font-family: @font2;
}

.yel-label{
	font-size: 18px;
	font-family: @font2;
	line-height: 22px;
	margin-bottom: 6px;
	color: @yellow;
}

.like-table{
	overflow: hidden;
	width: 100%;
	margin: 0 0 20px 0; padding: 0;
	li{
		float: left;
		width: 20%;
		margin: 0; padding: 0;
		list-style: none;
	}
}

.footer{
	background: @red;
	padding: 20px 0;
	.cop{
		color: @yellow;
		font-family: @font2;
		span{
			color: #fff;
		}
	}
}

.footer-menu{
	margin: 0 0 20px 0; padding: 0;
	li{
		margin: 0; padding: 0; list-style: none;
		color: @yellow;
		font-family: @font2;
		a{
			color: @yellow;
			&:hover{
				color: darken(@yellow, 5%)
			}
		}
		&.head{
			font-weight: bold;
		}
	}
}

.bs-header-wrap{
	height: 250px;
	background: @red;
}

.affix{
	z-index: 50;
	left: 0; right: 0;
	.affix-hide{
		display: none;
	}
}

.product-grid{
	.item{
		margin-bottom: 20px;
		.image{
			margin-bottom: 20px;
		}
	}
}

.gicon-checkbox{
	width: 28px; height: 28px;
	background: @sprite;
	background-position: -96px -111px;
	margin-right: 4px;
	&.on{
		background-position: -65px -111px;
	}
}

.gicon-radio{
	width: 28px; height: 28px;
	background: @sprite;
	background-position: -250px -49px;
	margin-right: 4px;
	position: relative; top: -4px;
	&.on{
		background-position: -203px -49px;
	}
}

.price-label{	
	font-family: @font;
	color: @red;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
	background: @yellow;
	.box-shadow(0 1px 2px rgba(0,0,0,.75));
	.lg{
		display: block;
		font-size: 30px;
		line-height: 30px;
	}
	.sm{
		font-size: 12px;
		line-height: 12px;
	}
} 

.count-ctrl{
	font-size: 30px;
	line-height: 30px;
	overflow: hidden;
	color: #fff;
	font-family: @font;
	font-weight: bold;
	width: 99%;
	background: @green;
	.box-shadow(0 1px 2px rgba(0,0,0,.75));
	.ctr1{
		cursor: pointer;
	}
	.ctr1, .ctr2{
		width: 33%;
		float: left;
		padding: 30px 0;
		text-align: center;
		display: inline-block;
	}
	.ctr2{
		border-left: solid 1px #5ad354;
		border-right: solid 1px #5ad354;
	}
	&.flat{
		.ctr1, .ctr2{
			padding: 5px 0;
		}
	}
	&.w210{
		width: 200px;
		display: inline-block;
	}
}

.bullet{
	display: inline-block;
	width: 40px; height: 40px;
	background: @red;
}

.box{
	background: #f9f9dd;
	padding: 30px;
}

.sidebar-menu{
	margin: 0; padding: 0;
	font-size: 18px;
	font-family: @font;
	font-weight: bold;
	color: #4e4e4e;
	li{
		margin: 0 0 10px 0; padding: 0; list-style: none;
		a{color: #4e4e4e;
			&:hover{
				color: @red;
			}
		}
		&.active{
			a{
				color: @red;
			}
		}
	}
}

.img-border{
	border: solid 20px #f9f9dd;
	img{
		width: 100%;
	}
}

.box1{
	padding: 30px;
	border: solid 1px @tableBorder;
}

.list-bordererd{
	margin: 0; padding: 1px 0;
	border-bottom: solid @tableBorder 4px;
	border-top: solid @tableBorder 4px;
	li{
		margin: 0; padding: 0; list-style: none;
		font-size: 20px; line-height: 22px;
		font-family: @font2;
		color: #4e4e4e;
		padding: 12px 20px;
		border-bottom: solid @tableBorder 1px;
		label{
			font-size: 20px;
		}
		&:first-child{
			border-top: solid @tableBorder 1px;
		}
	}
	.subitems{
		li{
			padding-left: 80px;
		}
	}
}

.radio-box{
	&.inline{
		display: inline-block;
	}
}

.table{
	label{
		font-size: 20px;
	}
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"], 
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"]{
		height: 20px;
		padding: 10px 10px;
		font-size: 20px;
		border: 1px solid #4e4e4e;
		font-family: @font2;
	}
}

.input-append{
	input{
		border-right: none!important;
		margin-right: 0;
	}
}

.styled-select{
   	overflow: hidden;   
   	display: inline-block;  	
   	border: 1px solid #4e4e4e;
   	background: url(../img/select.png) no-repeat right top;
   	height: 40px;
   	display: inline-block;  
   	select{
   		background: transparent;
		padding: 6px 10px;
		font-size: 20px;
		font-family: @font2;
		line-height: 22px;
		color: #4e4e4e;
		border: 0;
		border-radius: 0;
		height: 40px;
		-webkit-appearance: none;
		padding-right: 28px;
		outline: none;
   	}
}

.bg1{
	background: url(../img/bg.jpg) right bottom no-repeat;
	height: 882px;
}