.gicon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background: @sprite;
  vertical-align: middle;
}

.gicon.gicon-phone{
	width: 32px; height: 32px;
	background-position: 9px 0;
}

.gicon.gicon-arrow-bottom{
	width: 9px; height: 9px;
	background-position: -38px 0;
}

.gicon.gicon-kee{
	width: 30px; height: 30px;
	background-position: -84px 0;
}
.gicon.gicon-kee-plus{
	width: 37px; height: 30px;
	background-position: -166px 0;
}

.gicon.gicon-cart{
	width: 46px; height: 26px;
	background-position: -226px 0;
}

.gicon.gicon-arrow-right{
	width: 15px; height: 15px;
	background-position: -305px 0;
	top: -2px;
}

.gicon.gicon-arrow-right-lg{
	width: 20px; height: 20px;
	background-position: -287px -48px;
	top: -2px;
}

.gicon.gicon-arrow-right-yel{
	width: 25px; height: 20px;
	background-position: -332px 0;
}

.gicon.gicon-arrow-right-large{
	width: 76px; height: 61px;
	background-position: 0 -48px;
}

.gicon.gicon-arrow-down-yel{
	width: 18px; height: 22px;
	background-position: -372px 0;
}

.gicon.gicon-logo{
	width: 26px; height: 25px;
	background-position: -105px -49px;
}

.gicon.gicon-magnifier{
	width: 29px; height: 24px;
	background-position: -158px -48px;
}

.gicon.gicon-vk{
	width: 72px; height: 42px;
	background-position: 0 -147px;
}

.gicon.gicon-tw{
	width: 54px; height: 44px;
	background-position: -96px -147px;
}

.gicon.gicon-fb{
	width: 22px; height: 46px;
	background-position: -180px -147px;
}

.gicon.gicon-bs{
	width: 43px; height: 43px;
	background-position: -228px -147px;
}

.gicon.gicon-yt{
	width: 106px; height: 43px;
	background-position: -294px -147px;
}